<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Set metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Set judul halaman -->
    <title>To-Do List App</title>
    <!-- Set style CSS -->
    <style>
      /* Gaya untuk seluruh halaman */
      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #0b00a3;
      }

      /* Gaya untuk judul halaman */
      h1 {
        text-align: center;
        background-color: #fee6a8;
      }

      /* Gaya untuk formulir tambah tugas */
      form {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: white;
      }

      /* Gaya untuk tabel daftar tugas */
      table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fee6a8;
      }

      /* Gaya untuk sel header dan sel data dalam tabel */
      th,
      td {
        border: 1px solid #000000;
        padding: 8px;
        text-align: center; /* Tambahkan ini untuk sel tengah */
      }

      /* Gaya tambahan untuk sel header */
      th {
        background-color: #ffff00;
      }
    </style>
  </head>
  <body>
    <!-- Header halaman -->
    <h1>List Apa Yang Ingin Anda Cari</h1>

    <!-- Form untuk menambahkan tugas -->
    <form action="/add" method="POST">
      <!-- Input untuk menambahkan tugas baru -->
      <input type="text" name="task" required />
      <!-- Tombol untuk menambahkan tugas -->
      <button type="submit">Input</button>
    </form>

    <!-- Daftar tugas dalam bentuk tabel -->
    <table>
      <!-- Baris header tabel -->
      <thead>
        <tr>
          <th>Task List Hari Ini</th>
        </tr>
      </thead>
      <!-- Baris data dalam tabel -->
      <tbody>
        <!-- Loop melalui setiap tugas dan tampilkan -->
        <% todos.forEach(todo => { %>
        <tr>
          <!-- Tampilkan nama tugas dalam sel data -->
          <td><%= todo.task %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
